.container {
  display: flex;
  justify-content: space-around;
  align-items: center;
  background-color: aqua;
  padding: 1rem;

}



.IconMenu {
  font-size: xx-large;
  width: 100px;
}

.dropdown div a {
  display: block;
  padding: 7px;
  width: 100px;
}

.dropdown {
  display: inline-block;
  cursor: pointer;

}

.dropdown div {
  position: absolute;
  z-index: 1;
  visibility: hidden;

}

.dropdown:hover div {
  visibility: visible;

}

.middle {
  display: flex;
  justify-content: space-around;
  width: 50%;
  text-align: center;
  text-align: center;
}

.iconMiddle {
  font-size: 2rem;

}

.nameMiddle {
  font-size: 1.5rem;
  color: red;



  text-decoration: none;
  color: black;
  font-family: 'Thine';


}