.container {
  display: flex;
  justify-content: space-between;
  align-items: center;
  /* background-color: aqua; */
  padding: 1rem;

}



.IconMenu {
  font-size: xx-large;
  width: 90px;
  margin-left: 1.7rem;
}

.dropdown div a {
  display: block;
  padding: 7px;
  width: 90px;
}

.dropdown {
  display: inline-block;
  cursor: pointer;




}

.dropdown div {
  position: absolute;
  z-index: 1;
  visibility: hidden;

}

.dropdown:hover div {
  visibility: visible;
  background-color: #e0e0e044;
  font-family: 'Raanan', 'Asap', Arial, sans-serif;


}

.middle {
  display: flex;
  justify-content: space-between;
  width: 60%;
  text-align: center;
  margin-left: 2rem;

}

.iconMiddle {
  font-size: 2rem;
  color: black;

}

.nameMiddle {
  font-size: 1.4rem;
  text-decoration: none;
  color: black;
  font-family: 'Raanan', 'Asap', Arial, sans-serif;
  font-size: 100;
  text-align: center;

}

.mylogo {
  width: 20%;
  text-align: center;
}

.logoDiv {
  text-align: center;
  padding: 0;
  margin: 0;
  width: 20%;
}