* {
  box-sizing: border-box;
  margin: 0;
}

html {
  margin: auto;
  height: 100%;
  background-color: #fae0e0;
  background-image: url('./imges/background.png');
  -webkit-background-size: cover;
  -moz-background-size: cover;
  -o-background-size: cover;
  background-size: cover;
}

.errorMessage {
  color: red;
}

a {
  text-decoration: none;
  color: #66737c;
}